body{
    margin: 0;
    padding: 0;
}
.middle{
    position: absolute;
    left: 40%;
    top: 30%;
}
#searchbox{
    position: relative;
    left: -140px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: none;
}
#searchbox:hover{
    cursor: context-menu;

}
input[type="text"]{
    position: absolute;
    width: 550px;
    height: 50px;
    font-size: 20px;
    height: 1;
    text-align:initial;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.884);
    border: 1px solid rgb(214, 203, 203);
    display: block;
    outline: none;
}
input[type="text"]:hover{
    box-shadow: 5px 5px 5px rgb(240, 231, 231);
}
.material-icons{
    position: relative;
    left: -124px;
    top: -14px;
}
#mic{
    position: relative;
    left: 75%;
}
#click{
    position: relative;
    left: -50px;
}
#click li{
    position: relative;
    top: -10%;
    display: inline-block;
    padding-right: 10px;
}
#s-button:hover{
    border: 2.5px solid #d4d8d4;
    box-shadow: 1px 1px 1px rgb(214, 203, 203);
}
#l-button:hover{
    border: 2.5px solid #d4d8d4;
    box-shadow: 1px 1px 1px rgb(214, 203, 203);
}
#s-button{
    position: relative;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    color: rgba(0, 0, 0, 0.719);
}
#l-button{
    position: relative;
    width: 150px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.719);
}
.languages{
    position: relative;
    left: -140px;
    padding-top: 0px;
}
.languages li{
    position: relative;
    display: inline-flex;
    padding: 3px;
}
li a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(17, 46, 134);
}
li a:hover{
    text-decoration: underline;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    font-size: 20px;
    background-color: rgba(226, 218, 218, 0.774);
    
  }
  .lefts li{
    position: relative;
    display: inline;
    padding: 10px;
    bottom: 10px;
    text-align: left;
  }
  .rights{
      position: relative;
      left: 85%;
      bottom: 10px;
  }
  .rights li{
    position: relative;
    display: inline-flex;  
    bottom: 25px;
    text-align: right;
  }

  .footer li a{
    text-decoration: none;
    padding: 10px;
    color: rgba(0, 0, 0, 0.719);
  }
  .footer li a:hover{
    text-decoration: underline;
  }
  .links{
      position: absolute;
      top: 0;
      left: 70%;
  }
  .links li{
      position: relative;
      display: inline;
      padding-right: 20px;
  }
  .links li a{
      font-size: 15px;
      color:rgba(0, 0, 0, 0.719);
  }
#signin{
    padding: 7px 12px;
    background-color: #4285f4;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
#signin:hover{
    cursor: pointer;
}
input{
    padding-left: 50px;
    padding-right: 40px;
}
#apps{
    position: relative;
    width: 30px;
    height: 30px;
}
#apps:hover{
    cursor: pointer;
}