#logo{
    padding-left: 50%;
}
#searchbox{
    padding-left: 50%;
}
#languages{
    list-style-type: none;
    padding-left: 50%;
    font-size: 10px;
}
#click li{
    list-style-type: none;
    display: inline;
}
#click{
    padding-left: 50%;
}
#languages li{
    display: inline;
    padding: 5px;
}
#links{
    list-style-type: none;
}
#links li {
    display: inline;
    padding: 5px;
    text-decoration: none;
}
#links li a{
    text-decoration: none;
    color: black;
}
#languages li a{
    text-decoration: none;
}
#languages li a:hover{
    text-decoration: underline;
}
#links li a:hover{
    text-decoration: underline;
}
#searchbutton,#luckybutton{
    border: none;
    background-color: rgba(214, 203, 203, 0.781), 0.753);

}